      /*


midgreen #93E75B

mustard green #c

dark green #68CE3E

light grey #BDBEC0

dark grey #606060

light blue #78B4F7


*/

      Body,P,TD,Input, Textbox,Option,Select,textarea{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt;}

      .TextBox {
        background-color: #CCFFCC;
        width:85px;
        font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt
      }

      .TextBoxColor {background-color: #CCFFCC; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt}
      .TextBoxColor612 {Width:550px;background-color: #CCFFCC; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt}
      .TextBoxColor400 {Width:400px;background-color: #CCFFCC; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt}
      .TextBoxColor184 {Width:184px;background-color: #CCFFCC; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt}
      .TextBoxColor180 {Width:180px;background-color: #CCFFCC; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt}
      .TextBoxColor124 {Width:124px;background-color: #CCFFCC; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt}
      .TextBoxColor60 {Width:60px;background-color: #CCFFCC; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt}


      .lblMSG
      {
        FONT-WEIGHT:bold;	FONT-SIZE: 9pt;	COLOR:#78B4F7;
        }

      .BodyBackGround{background-repeat:repeat-x; background-attachment:fixed; background-image:url(Images/Public/Background-Strip.gif); background-position:top; }

      .LayoutTableTable{ background-color:#FFFFFF; border-collapse:collapse;}
      .LayoutTableTr{ background-color:#FFFFFF; border-collapse:collapse;}
      .LayoutTableTd{ background-color:#FFFFFF; border-collapse:collapse;}

      .HeaderTableTable{ background-color:#FFFFFF; border-collapse:collapse;}
      .HeaderTableTr{ background-color:#FFFFFF; border-collapse:collapse;}
      .HeaderTableTd{ background-color:#FFFFFF; border-collapse:collapse;}
      .HeaderTableTdNavBG{background-image:url(Images/NavigationButtons/btnBG.gif);  }
      .MainBodyTableTable{ background-color:#FFFFFF; border-collapse:collapse;}
      .MainBodyTableTr{ background-color:#FFFFFF; border-collapse:collapse;}
      .MainBodyTableTd{ background-color:#FFFFFF; border-collapse:collapse;}

      .MainBodyContentTableTable{ background-color:#FFFFFF; border-collapse:collapse;}
      .MainBodyContentTableTr{ background-color:#FFFFFF; border-collapse:collapse;}
      .MainBodyContentTableTd{ background-color:#FFFFFF; border-collapse:collapse;}
      MainBodyContentTableTdSize{width:573px;border-collapse:collapse;}

      .MainBodyContentLeftTableTable{
          background-repeat:repeat-x; background-attachment:fixed;
          background-image:url(Images/Public/Background-Table-Strip.gif); background-position:top;
      }
      .MainBodyContentLeftTableTr{  border-collapse:collapse;}
      .MainBodyContentLeftTableTd{  border-collapse:collapse;padding-left:15px;padding-right:15px;}
      .MainBodyContentLeftTableTdSize{ width:300px; border-collapse:collapse;padding-left:15px;padding-right:15px;}

      .MainBodyContentLeftTableTdFullSize{ width:540px;height:200px; border-collapse:collapse;padding-left:15px;padding-right:15px;}

      .MainBodyContentLeftTableTdFullSize_NoPad{ width:540px;height:200px; border-collapse:collapse;padding-left:15px;}

      .TableHeight{}

      .HomePageBottomTableTable{ }
      .HomePageBottomTableTr{ }
      .HomePageBottomTableTd{ }

      .GreenLineHorizontal{background-repeat:repeat-x; background-attachment:fixed; background-image:url(Images/Public/SpacerGreen.gif); background-position:top; background-color:#0481B8;}
      .GreenLineVertical{background-repeat:repeat-y; background-attachment:fixed; background-image:url(Images/Public/SpacerGreen.gif); background-position:top; background-color:#0481B8; }

      .HomeLeftPanelTableTable{ background-color:#FFFFFF; border-collapse:collapse;}


      .__HomeLeftPanelTableTablePlugBG1{height:232px;width:190px;background-repeat:no-repeat; background-attachment:fixed; background-image:url(Images/Public/LeftPanel_BGImage_EarJack.gif); background-position:top; }


      .HomeLeftPanelTableTablePlugBG{
           height:232px;width:190px;
          background-image:url(Images/Public/LeftPanel_BGImage_EarJack.gif);
      }



      .__HomeLeftPanelTableTableUSBBG{background-repeat:no-repeat; background-attachment:fixed; background-image:url(Images/Members/LeftPanel_BGImage_USB.gif); background-position:top; }

      .HomeLeftPanelTableTableUSBBG{
           height:232px;width:190px;
          background-image:url(Images/Public/LeftPanel_BGImage_USB.gif);
      }



      .HomeLeftPanelTableTableFadeBG{ background-image:url(Images/Public/Background-Panel-Strip.gif); background-position:top; }
      .HomeLeftPanelTableTr{}
      .HomeLeftPanelTableTd{padding-left:7px;padding-right:7px;padding-top:7px;}

      .LeftPanelWidth{width:190px;}


      .FooterText{ font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt;}
      .SmallBodyText {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:8pt;padding-top:7px;}
      .SubMenu {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:12pt;padding-top:7px; font-weight:bold;}
      .VSmallBodyText {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:7pt;}



/*
CALENDER
=====================
*/
A.Calender {
  FONT-WEIGHT: bold;	FONT-SIZE: 14pt;	COLOR:#78B4F7;	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: underline;	cursor:hand;
}
A.Calender:visited {	FONT-WEIGHT:normal;	FONT-SIZE: 14pt;
  COLOR:#78B4F7;	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: underline;	cursor:hand;
  }
A.Calender:link {
  FONT-WEIGHT:normal;	FONT-SIZE: 14pt;	COLOR:#78B4F7;	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: underline;	cursor:hand;
}
A.Calender:hover {
  FONT-WEIGHT:normal;	FONT-SIZE: 14pt;	COLOR:#68CE3E;	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: none;	cursor:hand;
}



.HeaderBarTable{
  border-collapse:collapse;
  border-top: 0px solid #FFFFFF; 	border-bottom: 0px solid #FFFFFF; 	border-left: 0px solid #FFFFFF; 	border-right: 0px solid #FFFFFF;
  padding-left:0px;	padding-right:0px;	padding-bottom:0px;	padding-top:0px;
}

.HeaderBarTR{
  border-top: 0px solid #FFFFFF; 	border-bottom: 0px solid #FFFFFF; 	border-left: 0px solid #FFFFFF; 	border-right: 0px solid #FFFFFF;
  padding-left:0px;	padding-right:0px;	padding-bottom:0px;	padding-top:0px;
}

.HeaderBarTD{
  border-top: 0px; 	border-bottom: 0px; 	border-left: 0px; 	border-right: 0px;
  padding-left:0px;	padding-right:0px;	padding-bottom:0px;	padding-top:0px;
}



.CalenderTableDay
{
  background-color:#FFFFFF;	padding-left:0px;padding-right:0px;padding-bottom:0px;padding-top:0px;	border-top: None; 	border-bottom: None;	border-left: None; 	border-right: None;
   font-size: 8pt;	font-weight:normal;	color:#78B4F7;
}

.CalenderTableDayTr, .CalenderTableDayTd
{

  background-color:#FFFFFF;	padding-left:0px;padding-right:0px;padding-bottom:0px;padding-top:0px;
  border-top: None; 	border-bottom: None;	border-left: None; 	border-right: None;	 font-size: 8pt;	font-weight:normal;	color:#78B4F7;	height:50px;

}

.CalenderTable{
border-collapse:collapse;
}

.CalenderHeaderTR{
   border-top: 1px solid #E6E6E6; 	border-bottom: 1px solid #E6E6E6; 	border-left: 1px solid #E6E6E6; 	border-right: 1px solid #E6E6E6;
  padding-left:1px;	padding-right:1px;	padding-bottom:1px;	padding-top:1px;	background-color:#C8C8C8;
}
.CalenderHeaderTD{
   border-top: 1px solid #E6E6E6; 	border-bottom: 1px solid #E6E6E6; 	border-left: 1px solid #E6E6E6; 	border-right: 1px solid #E6E6E6;	padding-left:1px;	padding-right:1px;	padding-bottom:1px;	padding-top:1px;
}

.CalenderRowTR{
   border-top: 1px solid #E6E6E6; 	border-bottom: 1px solid #E6E6E6; 	border-left: 1px solid #E6E6E6; 	border-right: 1px solid #E6E6E6;	padding-left:1px;	padding-right:1px;	padding-bottom:1px;	padding-top:1px;	height:80px;
}
.CalenderRowTD{
   border-top: 1px solid #E6E6E6; 	border-bottom: 1px solid #E6E6E6; 	border-left: 1px solid #E6E6E6; 	border-right: 1px solid #E6E6E6;	padding-left:7px;	padding-right:7px;	padding-bottom:7px;	padding-top:7px;
  height:80px;	background-color:#FFFFFF;

}







/*
DATAGRID SECTION
================
*/
.gridMaster
{
  border-bottom:0px;	border-left:0px;	border-right:0px;
}
.gridHeader {
  background-color:#68CE3E;	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #68CE3E;	font-size: 12pt;	font-weight: bold;	height:20px;
}
.gridItem {
  background-color:#FFFFFF;	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #606060;	font-size: 8pt;	height:20px;	font-weight:normal; 	border: thin solid #666666;
  }
.gridItemAlternate{
  background-color:#93E75B;	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #606060;	font-size: 8pt;	height:20px;	font-weight:normal; 	border: thin solid #666666;
}

/*
LINKS SECTION
=============
*/
A {
  FONT-WEIGHT: normal;	FONT-SIZE: 8pt;	COLOR: #336699;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: underline
}
A:visited {
  FONT-WEIGHT: normal;	FONT-SIZE: 8pt;	COLOR: #336699;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: underline
}
A:link {
  FONT-WEIGHT: normal;	FONT-SIZE: 8pt;	COLOR: #336699;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: underline
}
A:hover {
  FONT-WEIGHT: normal;	FONT-SIZE: 8pt;	COLOR: #3366cc;
  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;	TEXT-DECORATION: none;}

.IndentTenPt{ padding-left:15px;padding-top:2px;}


/*
.Small_PanelBG_Header{width:527px; height:40px; background-image:url(Images/Public/Registration_PanelBG_Small.gif);  background-repeat:no-repeat; }
.Small_PanelBG_Bottom{width:527px;padding-left:10px; background-image:url(Images/Public/Registration_PanelBG_Bottom.gif);  background-repeat:no-repeat; }

.Registration_PanelBG_Header{width:527px; height:40px; background-image:url(Images/Public/Registration_PanelBG_Header.gif);  background-repeat:no-repeat; }
.Registration_PanelBG_Bottom{width:527px;padding-left:10px; background-image:url(Images/Public/Registration_PanelBG_Bottom.gif);  background-repeat:no-repeat; }

.YourProgress_PanelBG_Header{ height:60px; background-repeat:no-repeat; background-attachment:fixed; background-image:url(Images/Members/YourProgress_PanelBG_Header.gif);  }
.YourProgress_PanelBG_Bottom{ padding-left:10px;background-repeat:no-repeat; background-attachment:fixed; background-image:url(Images/Public/Registration_PanelBG_Bottom.gif); }
*/


.FullPage_PanelBG_Header{width:654px; height:40px; background-image:url(Images/Public/Registration_PanelBG_Header.gif);  background-repeat:no-repeat; }
.FullPage_PanelBG_Bottom{width:654px;padding-left:10px; background-image:url(Images/Public/Registration_PanelBG_Bottom.gif);  background-repeat:no-repeat; }

.ContentPage_PanelBG_Header{width:527px; height:40px; background-image:url(Images/Public/Registration_PanelBG_Small.gif);  background-repeat:no-repeat; }
.ContentPage_PanelBG_Bottom{width:527px;padding-left:10px; background-image:url(Images/Public/Registration_PanelBG_Bottom.gif);  background-repeat:no-repeat;  padding-right:0px}
.ContentPage_PanelBG_Bottom_Table{width:510px}

.YourProgress_PanelBG_Header{ width:527px;height:60px; background-repeat:no-repeat; background-attachment:fixed; background-image:url(Images/Members/YourProgress_PanelBG_small.gif);  }
.YourProgress_PanelBG_Bottom{ width:527px;padding-left:10px;background-repeat:no-repeat; background-attachment:fixed; background-image:url(Images/Public/Registration_PanelBG_Bottom.gif); }


.TableGridTable{
  border-collapse:collapse;
  border-top: px solid #FFFFFF; 	border-bottom: 0px solid #FFFFFF; 	border-left: 0px solid #FFFFFF; 	border-right: 0px solid #FFFFFF;
  padding-left:5px;	padding-right:5px;	padding-bottom:5px;	padding-top:5px;
}

.TableGridTR{
  border-top: 0px solid #FFFFFF; 	border-bottom: 1px solid #cccccc; 	border-left: 0px solid #FFFFFF; 	border-right: 0px solid #FFFFFF;
  padding-left:0px;	padding-right:0px;	padding-bottom:0px;	padding-top:0px;
}

.TableGridTD{
  border-top: 0px; 	border-bottom: 0px; 	border-left: 0px; 	border-right: 0px;
  padding-left:5px;	padding-right:0px;	padding-bottom:0px;	padding-top:5px;
}




.Members_HomePage_Panel_MyPrograms{background-image:url(Images/Members/homepage_myprograms.gif);height:203px; width:280px; padding-top:45px;	}
.Members_HomePage_Panel_MyCalendar{background-image:url(Images/Members/homepage_myCalendar.gif);height:203px; width:280px;	 padding-top:45px;}
.Members_HomePage_Panel_MyDownloads{background-image:url(Images/Members/homepage_mydownloads.gif);height:203px; width:280px;	 padding-top:45px;}
.Members_HomePage_Panel_MyReminders{background-image:url(Images/Members/homepage_MyReminders.gif);height:203px; width:280px;	 padding-top:45px;}
.Members_HomePage_Panel_Spacer{ }

.ArrowList
{
margin-left: 0;
padding-left: 0px;

list-style: none;
}

.ArrowList li
{
padding-left: 20px;
background-image: url(images/public/Arrow_Green.gif);
background-repeat: no-repeat;
background-position: 0 .5em;
padding-bottom:7px;
}
